{% extends "base.html" %}

{% block content %}
<form action="" method="post">
    {{ form.hidden_tag() }}
<div class='container'>
  <div class='row'>
    <div class='col-sm-4'>
      <h1>Edit Profile</h1>
          <p>
              {{ form.username.label }}<br>
              {{ form.username(size=32) }}<br>
              {% for error in form.username.errors %}
              <span style="color: red;">[{{ error }}]</span>
              {% endfor %}
          </p>
          <p>
              {{ form.about_me.label }}<br>
              {{ form.about_me(cols=50, rows=4) }}<br>
              {% for error in form.about_me.errors %}
              <span style="color: red;">[{{ error }}]</span>
              {% endfor %}
          </p>
        </div>
        <div class='col-sm-4'>
          <img src="{{ current_user.avatar(128) }}">
        </div>
      </div>
      <div class='row'>
      	<div class="col-sm-4">
          <p align="center">
              <b>{{ form.userage.label }} {{ form.userage(size=1) }}</b><br>
              {% for error in form.userage.errors %}
              <span style="color: red;">[{{ error }}]</span>
              {% endfor %}
          </p>
          <p align="center">
              <b>{{ form.userheight.label }} {{ form.userheight(size=1) }}</b><br>
              {% for error in form.userheight.errors %}
              <span style="color: red;">[{{ error }}]</span>
              {% endfor %}
          </p>
          <p align="center">
              <b>{{ form.userweight.label }} {{ form.userweight(size=1) }}</b><br>
              {% for error in form.userweight.errors %}
              <span style="color: red;">[{{ error }}]</span>
              {% endfor %}
          </p>
          <div align="center">
              <b>{{ form.usergender.label }}</b><br>
              {% for subfield in form.usergender %}
              <tr>
                  <td>{{ subfield }}</td>
                  <td>{{ subfield.label }}</td>
              </tr><br>
              {% endfor %}
              {% for error in form.usergender.errors %}
              <span style="color: red;">[{{ error }}]</span>
              {% endfor %}
          </div>
        </div>
        <div class="col-sm-4">
        <div align="center">
            <b>{{ form.usergym.label }}</b><br>
            {% for subfield in form.usergym %}
            <tr>
                <td>{{ subfield }}</td>
                <td>{{ subfield.label }}</td>
            </tr><br>
            {% endfor %}
            {% for error in form.usergym.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div align="center">
            <b>{{ form.usergoals.label }}</b><br>
            {% for subfield in form.usergoals %}
            <tr>
                <td>{{ subfield }}</td>
                <td>{{ subfield.label }}</td>
            </tr><br>
            {% endfor %}
            {% for error in form.usergoals.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div align="center">
            <b>{{ form.userspecs.label }}</b><br>
            {% for subfield in form.userspecs %}
            <tr>
                <td>{{ subfield }}</td>
                <td>{{ subfield.label }}</td>
            </tr><br>
            {% endfor %}
            {% for error in form.userspecs.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
      </div>
      <div class="col-sm-4">
        <div align="center">
          <b>{{ form.usercuisine.label }}</b><br>
          {{ form.usercuisine }}<br>
          {% for error in form.usercuisine.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </div>
        <div align="center">
            <b>{{ form.usercomplex.label }}</b><br>
            {% for subfield in form.usercomplex %}
            <tr>
                <td>{{ subfield }}</td>
                <td>{{ subfield.label }}</td>
            </tr><br>
            {% endfor %}
            {% for error in form.usercomplex.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
      </div>
    </div>
  </div>
    <div align="center">
      <!-- <p align="center" class="btn btn-info">{{form.userrecipe}}</p><br>
        {% for error in form.userrecipe.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %} <br> -->
      <p align="center">{{ form.submit(class_='btn btn-primary') }}</p>
    </div>
</form>

{% endblock %}
