{% extends "base.html" %}
{% block content %}
    {% if current_user.is_anonymous %}
	<h1 align="center">Welcome to the Recepticon</h1>
	{% else %}
	<h1 align="center">Hello {{current_user.username}}, welcome to the Recepticon</h1>
	{% endif %}
	<br />
  <div class="container">
  	<div class="row">
  		<div class="col-sm-12">
	     <h2 align="center"><img src="static/recepticon.png" alt="Recepticon Logo"></h2>
        <a href="{{ url_for('user', username=current_user.username) }}" role="button" align="center" class="btn btn-primary">Step 1. Create an Account</a><br>
        <a href="/grocery_list" role="button" align="center" class="btn btn-primary">Step 2. Make a Grocery List</a><br>
        <a href="/recipe" role="button" align="center" class="btn btn-primary">Step 3. Get Recipes Recommendations</a><br>
      </div>
    </div>
  </div>
	<br />
    <!-- <form action="http://localhost:5000/results" method="post" enctype = "multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="container">
        	<div class="row">
        		<div class="col-sm-4">
            <p align="center">
                {{ form.userage.label }} {{ form.userage(size=1) }}<br>
                {% for error in form.userage.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p align="center">
                {{ form.userheight.label }} {{ form.userheight(size=1) }}<br>
                {% for error in form.userheight.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p align="center">
                {{ form.userweight.label }} {{ form.userweight(size=1) }}<br>
                {% for error in form.userweight.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <div align="center">
                {{ form.usergender.label }}<br>
                {% for subfield in form.usergender %}
                <tr>
                    <td>{{ subfield }}</td>
                    <td>{{ subfield.label }}</td>
                </tr><br>
                {% endfor %}
                {% for error in form.usergender.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            </div>
            <div class="col-sm-4">
            <div align="center">
                {{ form.usergym.label }}<br>
                {% for subfield in form.usergym %}
                <tr>
                    <td>{{ subfield }}</td>
                    <td>{{ subfield.label }}</td>
                </tr><br>
                {% endfor %}
                {% for error in form.usergym.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div align="center">
                {{ form.usergoals.label }}<br>
                {% for subfield in form.usergoals %}
                <tr>
                    <td>{{ subfield }}</td>
                    <td>{{ subfield.label }}</td>
                </tr><br>
                {% endfor %}
                {% for error in form.usergoals.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div align="center">
                {{ form.userspecs.label }}<br>
                {% for subfield in form.userspecs %}
                <tr>
                    <td>{{ subfield }}</td>
                    <td>{{ subfield.label }}</td>
                </tr><br>
                {% endfor %}
                {% for error in form.userspecs.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            </div>
            <div class="col-sm-4">
              <div align="center">
                  {{ form.usercuisine.label }}<br>
                  {{ form.usercuisine }}<br>
                  {% for error in form.usercuisine.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
              </div>
              <div align="center">
                  {{ form.usercomplex.label }}<br>
                  {% for subfield in form.usercomplex %}
                  <tr>
                      <td>{{ subfield }}</td>
                      <td>{{ subfield.label }}</td>
                  </tr><br>
                  {% endfor %}
                  {% for error in form.usercomplex.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <div align="center">
            {{ form.userrecipe.label }}<br>
            {{ form.userrecipe }}<br>
            {% for error in form.userrecipe.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div> <br>
        <div align="center">{{ form.submit() }}</div>
    </form> -->
{% endblock %}
