{% extends "base.html" %}
{% block content %}
    {% if current_user.is_anonymous %}
	<h1 align="center">Welcome to the Recepticon</h1>
	{% else %}
	<h1 align="center">Hello {{current_user.username}}, welcome to the Recepticon</h1>
	{% endif %}
	<br />
	<h2 align="center"><img src="static/recepticon.png" alt="Recepticon Logo"></h2>
	<br />
    <form action="http://localhost:5000/results" method="post" enctype = "multipart/form-data">
        {{ form.hidden_tag() }}
        <p align="center">
            {{ form.userage.label }} {{ form.userage(size=1) }}<br>
            {% for error in form.userage.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p align="center">
            {{ form.userheight.label }} {{ form.userheight(size=1) }}<br>
            {% for error in form.userheight.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p align="center">
            {{ form.userweight.label }} {{ form.userweight(size=1) }}<br>
            {% for error in form.userweight.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p align="center">
            {{ form.usergender.label }}<br>
            {{ form.usergender }}<br>
            {% for error in form.usergender.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p align="center">
            {{ form.usergym.label }}<br>
            {{ form.usergym }}<br>
            {% for error in form.usergym.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p align="center">
            {{ form.usergoals.label }}<br>
            {{ form.usergoals }}<br>
            {% for error in form.usergoals.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p align="center">
            {{ form.userspecs.label }}<br>
            {{ form.userspecs }}<br>
            {% for error in form.userspecs.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p align="center">
            {{ form.usercuisine.label }}<br>
            {{ form.usercuisine }}<br>
            {% for error in form.usercuisine.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p align="center">
            {{ form.usercomplex.label }}<br>
            {{ form.usercomplex }}<br>
            {% for error in form.usercomplex.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p align="center">
            {{ form.usermeal.label }}<br>
            {{ form.usermeal }}<br>
            {% for error in form.usermeal.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p align="center">
            {{ form.userrecipe.label }}<br>
            {{ form.userrecipe }}<br>
            {% for error in form.userrecipe.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p align="center">{{ form.submit() }}</p>
    </form>
{% endblock %}
