{% extends "base.html" %}

{% block content %}
		<div class="container">
			{% if current_user.is_anonymous %}
			<h1 align="center">Welcome to the Recepticon</h1>
			{% else %}
			<h1 align="center">Hello {{current_user.username}}, welcome to the Recepticon</h1>
			{% endif %}
			<br />
			<h2 align="center"><img src="static/recepticon.png" alt="Recepticon Logo"></h2>
			<br />
			<div align="center">
				<form action = "http://localhost:5000/results" method = "POST"
					enctype = "multipart/form-data">
					<h3 align="center">Optimize By</h3>
						<input type="radio" name="user_options" value="1" /> Budget
						<input type="radio" name="user_options" value="2" /> Nutrition
						<input type="radio" name="user_options" value="3" /> Personal Taste
						<input type="radio" name="user_options" value="4" /> Cooking Time
					<br />

					<h3 align="center">Other Selections</h3>
						<input type="text" name="city" list="cityname">
						<datalist id="cityname">
							<option value="Boston">
							<option value="Cambridge">
						</datalist>
					<br />

					<h3 align="center">Upload List</h3>
						<input type = "file" name = "file" />
						<input type = "submit"/>
				</form>
			</div>
		</div>

{% endblock %}
