{% extends "base.html" %}

{% block content %}


<style>
.rating {
    float:left;
    width:110px;
}
.rating span { float:right; position:relative; }
.rating span input {
    position:relative;
    top:0px;
    left:0px;
    opacity:0;
}
.rating span label {
    display:inline-block;
    position:relative;
    width:16px;
    height:16px;
    color:#FFF;
    background:#ccc;
    margin-right:0px;
    line-height:20px;
    border-radius:60%;
    -webkit-border-radius:60%;
}
.rating span:hover ~ span label,
.rating span:hover label,
.rating span.checked label,
.rating span.checked ~ span label {
    background:#6BFF33;
    color:#FFF;
}

</style>

<script src="https://ajax.google apis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script>
    
$(document).ready(function(){
    var user_score = {};
    
    // Check Radio-box
    $(".rating input:radio").attr("checked", false);

    $(".rating input").click(function () {  
        //console.log(this, $(this).parent().find('name'))
        $(".rating span").removeClass('checked');
        $(this).parent().addClass('checked');
        user_score[this.name]=this.value;
        console.log(user_score)
    });
    

   
}); 
    
</script>

<div class="container">
	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-8">
			<h1 align="center">Recipe Generation</h1>
			<p align="center">Use the selection options below and then click 'Generate Recipes' to receive a personalized list of recommended receipes from the Recepticon engine.</p>
			<form action="" method="post" novalidate>
      		{{ form.hidden_tag() }}
      		<p align="center">
							<b>{{ form.meal_type.label }}</b>
							{% for subfield in form.meal_type %}
							<tr>
									<td>{{ subfield }}</td>
									<td>{{ subfield.label }}</td>
							</tr>
							{% endfor %}
							{% for error in form.meal_type.errors %}
							<span style="color: red;">[{{ error }}]</span>
							{% endfor %}<br>
						  <b>{{ form.dof.label }}</b>
      				{{ form.dof(size=32) }}
      				{% for error in form.dof.errors %}
      				<span style="color: red;">[{{ error }}]</span>
      				{% endfor %}<br>
                            <b>{{ form.sorting_field.label }}</b>
							{% for subfield in form.sorting_field %}
							<tr>
									<td>{{ subfield }}</td>
									<td>{{ subfield.label }}</td>
							</tr>
							{% endfor %}
							{% for error in form.sorting_field.errors %}
							<span style="color: red;">[{{ error }}]</span>
							{% endfor %}<br>
      				{{ form.submit(class_='btn btn-primary') }}<br>
      				{% for error in form.submit.errors %}
      				<span style="color: red;">[{{ error }}]</span>
      				{% endfor %}<br>
      		</p>
      </form>
		</div>
		<div class="col-sm-2"></div>
	</div>
	</div>
	<div class="container">
	<div class="row">
		<div class="col-sm-1"></div>
		<div class="col-sm-10">

			{% if recs is defined %}
		<div class="accordion" id="accordionRec">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Recipe Name</th>
						<th>Calories</th>
						<th>Protein (g)</th>
						<th>Fat (g)</th>
						<th>Carbs (g)</th>
					</tr>
				</thead>
				<tbody>
			{% for key, value in recs.iterrows() %}
                    <script>"{{key}}"</script>
			<tr data-toggle="collapse" data-target="#{{key}}" class="accordion-toggle" role="button" aria-expanded="true" aria-controls="{{key}}">
				<td style="font-size: 20px;"><font color="#333399">{{value['title']}}</font></td>
				<td>{{value['calories']}}</td>
				<td>{{value['protein']}}</td>
				<td>{{value['fats']}}</td>
				<td>{{value['carbs']}}</td>
               
			</tr>
			<tr>
				<td colspan="5">
					<div id="{{key}}" class="collapse show" data-parent="#accordionRec" aria-hidden="true" style="height: auto;">
						<img src="static/{{value['image_link']}}" style="float:left; padding-right: 10px;">
						<b> Ingredients: </b> {{value['ingredient_txt']}}<br>
						<font color="#333399"<b> New Ingredients to Add to List:</b> <u>{{value['products to add']}}</u></font>
						<hr>
						<b> Recipe Instructions: </b> {{value['recipe_text']}}
                    <br>

                        
                        <div class="rating">
                            <span><input type="radio" name={{key}} id=str5+{{key}} value="5"><label for=str5+{{key}}></label></span>                            
                            <span><input type="radio" name={{key}} id=str4+{{key}} value="4"><label for=str4+{{key}}></label></span>
                            <span><input type="radio" name={{key}} id=str3+{{key}} value="3"><label for=str3+{{key}}></label></span>
                            <span><input type="radio" name={{key}} id=str2+{{key}} value="2"><label for=str2+{{key}}></label></span>
                            <span><input type="radio" name={{key}} id=str1+{{key}} value="1"><label for=str1+{{key}}></label></span>
                        </div>
					</div>
				</td>
			</tr>
			{% endfor %}
			{% else %}
			<p align="center">Select your preferences and run the optimizer.</p>
			{% endif %}

			</table>
			</div>

		</div>
		<div class="col-sm-1"></div>
	</div>
</div>


{% endblock %}
