{% extends "base.html" %}

{% block content %}

<script src="https://d3js.org/d3.v4.min.js"></script>
<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>


<style>


$unchecked-star: '\2606';
$unchecked-color: #888;
$checked-star: '\2605';
$checked-color: #e52;

.star-cb-group {
  /* remove inline-block whitespace */
  font-size: 0;
  * {
    font-size: 1rem;
  }
  /* flip the order so we can use the + and ~ combinators */
  unicode-bidi: bidi-override;
  direction: rtl;
  & > input {
    display: none;
    & + label {
      /* only enough room for the star */
      display: inline-block;
      overflow: hidden;
      text-indent: 9999px;
      width: 1em;
      white-space: nowrap;
      cursor: pointer;
      &:before {
        display: inline-block;
        text-indent: -9999px;
        content: $unchecked-star;
        color: $unchecked-color;
      }
    }
    &:checked ~ label:before,
      & + label:hover ~ label:before,
      & + label:hover:before {
      content: $checked-star;
      color: #e52;
      text-shadow: 0 0 1px #333;
    }
  }
  
  /* the hidden clearer */
  & > .star-cb-clear + label {
    text-indent: -9999px;
    width: .5em;
    margin-left: -.5em;
  }
  & > .star-cb-clear + label:before {
    width: .5em;
  }

  &:hover > input + label:before {
    content: $unchecked-star;
    color: $unchecked-color;
    text-shadow: none;
  }
  &:hover > input + label:hover ~ label:before,
  &:hover > input + label:hover:before {
    content: $checked-star;
    color: $checked-color;
    text-shadow: 0 0 1px #333;
  }
}




</style>

<script>
    
    
//var user_score = {};
    
//$.getJSON("user_score.json", function(data){
//    $.each(data, function(index, value){
//      console.log(value);
//    });
//  });
       
// Upload existing user scores    
new_user_score={}
{% if user_score is defined %}

{% for key, value in user_score.items() %}
l_key=parseInt({{key}});
l_value=parseInt({{value}});
new_user_score[l_key]=l_value;
 
{% endfor %}
//console.log("score", new_user_score)

{% endif %}   
 
user_score=new_user_score; 


$(document).ready(function(){   
    
       for (var x in user_score) {   // JSON iteration
      id_str='rating-'+user_score[x]+'+'+x;
      // console.log("sel", x, user_score[x], id_str

           score=document.getElementById(id_str);
        //   console.log("score", score)
           
           if (!!score) {
        //    console.log("score defined", score)
            $(score).prop("checked", true);
               
} 
           
           
        }
   
      $('[class*="rating"]').change(function () {
  //  console.log(this)
          
          user_score[this.name]=parseInt(this.value);
     //   console.log(user_score)
        
         $.ajax({
        type: 'POST',
        url: "/recipes",
        data: {user_score: JSON.stringify(user_score)},
          
  });
           });
     });
    // Check Radio-box

  //  $(".rating:radio").attr("checked", false);
    
 

 //   $(".rating").click(function () {  
        //console.log(this, $(this).parent().find('name'))
        
        
       // $(this).parent().find("name").css({"background-color": "#D8D8D8"});
    //    $(this).css({"background-color": "#7ED321"});
    //    $(this).nextAll().css({"background-color": "#7ED321"});
        
  //      console.log("this", this, $(this).parent().find("name"))
            
        
       
             
        //success: function (response) {
        //    alert("data added");
         //},         
 //   });

        
  

   
  
</script>

<div class="container">
	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-8">
			<h1 align="center">Recipe Generation</h1>
			<p align="center">Use the selection options below and then click 'Generate Recipes' to receive a personalized list of recommended receipes from the Recepticon engine.</p>
			<form action="" method="post" novalidate>
      		{{ form.hidden_tag() }}
      		<p align="center">
							<b>{{ form.meal_type.label }}</b>
							{% for subfield in form.meal_type %}
							<tr>
									<td>{{ subfield }}</td>
									<td>{{ subfield.label }}</td>
							</tr>
							{% endfor %}
							{% for error in form.meal_type.errors %}
							<span style="color: red;">[{{ error }}]</span>
							{% endfor %}<br>
						  <b>{{ form.dof.label }}</b>
      				{{ form.dof(size=32) }}
      				{% for error in form.dof.errors %}
      				<span style="color: red;">[{{ error }}]</span>
      				{% endfor %}<br>
                            <b>{{ form.sorting_field.label }}</b>
							{% for subfield in form.sorting_field %}
							<tr>
									<td>{{ subfield }}</td>
									<td>{{ subfield.label }}</td>
							</tr>
							{% endfor %}
							{% for error in form.sorting_field.errors %}
							<span style="color: red;">[{{ error }}]</span>
							{% endfor %}<br>
      				{{ form.submit(class_='btn btn-primary') }}<br>
      				{% for error in form.submit.errors %}
      				<span style="color: red;">[{{ error }}]</span>
      				{% endfor %}<br>
      		</p>
      </form>
		</div>
		<div class="col-sm-2"></div>
	</div>
	</div>
	<div class="container">
	<div class="row">
		<div class="col-sm-1"></div>
		<div class="col-sm-10">

			{% if recs is defined %}
		<div class="accordion" id="accordionRec">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Recipe Name</th>
						<th>Calories</th>
						<th>Protein (g)</th>
						<th>Fat (g)</th>
						<th>Carbs (g)</th>
					</tr>
				</thead>
				<tbody>
			{% for key, value in recs.iterrows() %}
                    <script>"{{key}}"</script>
			<tr data-toggle="collapse" data-target="#{{key}}" class="accordion-toggle" role="button" aria-expanded="true" aria-controls="{{key}}">
				<td style="font-size: 20px;"><font color="#333399">{{value['title']}}</font></td>
				<td>{{value['calories']}}</td>
				<td>{{value['protein']}}</td>
				<td>{{value['fats']}}</td>
				<td>{{value['carbs']}}</td>
               
			</tr>
			<tr>
				<td colspan="5">
					<div id="{{key}}" class="collapse show" data-parent="#accordionRec" aria-hidden="true" style="height: auto;">
						<img src="static/{{value['image_link']}}" style="float:left; padding-right: 10px;">
						<b> Ingredients: </b> {{value['ingredient_txt']}}<br>
						<font color="#333399"<b> New Ingredients to Add to List:</b> <u>{{value['products to add']}}</u></font>
						<hr>
						<b> Recipe Instructions: </b> {{value['recipe_text']}}
                    <br>
                    <br>
                                             
                   <form>
  <fieldset>
    <span class="star-cb-group">
        <input type="radio" class='rating' id=rating-1+{{key}} name={{key}} value=1 /><label for="rating-1">1</label>
        <input type="radio" class='rating' id=rating-2+{{key}} name={{key}} value=2 /><label for="rating-2">2</label>
        <input type="radio" class='rating' id=rating-3+{{key}} name={{key}} value=3 /><label for="rating-3">3</label>
          <input type="radio" class='rating' id=rating-4+{{key}} name={{key}} value=4  /><label for="rating-4">4</label>
      <input type="radio" class='rating' id=rating-5+{{key}} name={{key}} value=5 /><label for="rating-5">5</label>
    
      
      
      
    </span>
  </fieldset>
</form>

                    
                    
					</div>
				</td>
			</tr>
			{% endfor %}
			{% else %}
			<p align="center">Select your preferences and run the optimizer.</p>
			{% endif %}

			</table>
			</div>

		</div>
		<div class="col-sm-1"></div>
	</div>
</div>


{% endblock %}
