{% extends "base.html" %}

{% block content %}
    <div class='container'>
      <div class='row'>
        <div class='col-sm-7'>
          <table>
            <tr valign="top">
              <td><img src="{{ user.avatar(128) }}" style="padding-right: 15px;"></td>
              <td>
                <h1>User: {{ user.username }}</h1>
                {% if user.about_me %}<p>{{user.about_me}}</p>{% endif %}
                {% if user.last_seen %}<p>Last seen on: {{ user.last_seen }}</p>{% endif %}
                {% if user == current_user %}<p><a href="{{ url_for('edit_profile') }}" role="button" align="center" class="btn btn-primary">Edit your profile</a></p>{% endif %}
              </td>
            </tr>
          </table>
          <hr>
            <h4 align="center">Suggested Protein-Fat-Carb Breakdown</h4>
            <div id="chart1" align="center" style="text-align:center;"></div>
            <script>
              var div = d3.select("#chart1").append("div").attr("class", "toolTip");
              var total_Grams = {{ user.protein }} + {{ user.fat }} + {{ user.carb }};
              var dataset = [
              	{ name: 'Protein', total: {{ user.protein }}, percent: {{ user.protein }} / total_Grams },
              	{ name: 'Fat', total: {{ user.fat }}, percent: {{ user.fat }} / total_Grams },
              	{ name: 'Carbs', total: {{ user.carb }}, percent: {{ user.carb }} / total_Grams }
              ];

              var width = 400,
                  height = 400,
                  radius = Math.min(width, height) / 2;

              var color = d3.scale.ordinal()
                  .range(["#98abc5", "#8a89a6", "#7b6888", "#6b486b", "#a05d56"]);

              var arc = d3.svg.arc()
                  .outerRadius(radius - 10)
                  .innerRadius(radius - 70);

              var pie = d3.layout.pie()
                  .sort(null)
              	 .startAngle(1.1*Math.PI)
                  .endAngle(3.1*Math.PI)
                  .value(function(d) { return d.total; });

              var svg = d3.select("#chart1").append("svg")
                  .attr("width", width)
                  .attr("height", height)
                  .append("g")
                  .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");


               var g = svg.selectAll(".arc")
                    .data(pie(dataset))
                    .enter().append("g")
                    .attr("class", "arc");

                g.append("path")
              	.style("fill", function(d) { return color(d.data.name); })
                  .transition().delay(function(d,i) {
              	return i * 500; }).duration(500)
              	.attrTween('d', function(d) {
              		var i = d3.interpolate(d.startAngle+0.1, d.endAngle);
              		return function(t) {
              			d.endAngle = i(t);
              			return arc(d)
              			}
              		});

                g.append("text")
                    .attr("transform", function(d) { return "translate(" + arc.centroid(d) + ")"; })
                    .attr("dy", ".35em")
              	  .transition()
              	  .delay(1000)
                    .text(function(d) { return d.data.name; });


              	d3.selectAll("path").on("mousemove", function(d) {
              	    div.style("left", d3.event.pageX-140+"px");
              		  div.style("top", d3.event.pageY-180+"px");
                    //div.style("left", (d3.event.pageX-document.getElementById('col-right').offsetLeft) + "px");
                    //div.style("top", (d3.event.pageY-document.getElementById('col-right').offsetTop-document.getElementById('chart1').offsetTop) + "px");
              		  div.style("display", "inline-block");
                  div.html((d.data.name)+"<br>"+(d.data.total) + "<br>"+(d.data.percent) + "%");
              });

              d3.selectAll("path").on("mouseout", function(d){
                  div.style("display", "none");
              });


              //d3.select("body").transition().style("background-color", "#d3d3d3");
              function type(d) {
                d.total = +d.total;
                return d;
              }
            </script>
          </div>

        <div class="col-sm-5">
          <table class='table table-striped' style='margin-left:10px'>
            <tr><td>Age</td><td>{{user.age}}</td></tr>
            <tr><td>Height</td><td>{{user.height}} inches</td></tr>
            <tr><td>Weight</td><td>{{user.weight}} pounds</td></tr>
            <tr><td>Gender</td><td>{{user.gender}}</td></tr>
            <tr><td>Workout Frequency</td><td>{{user.gym}}</td></tr>
            <tr><td>Exercise Goals</td><td>{{user.goals}}</td></tr>
            <tr><td>Diet</td><td>{{user.restrictions}}</td></tr>
            <tr><td>Cuisine</td><td>{{user.cuisine}}</td></tr>
            <tr><td>Preferred Meal Complexity</td><td>{{user.complexity}}</td></tr>
            <tr><td>Daily Calorie Target</td><td>{{user.daily_cal}} calories</td></tr>
            <tr><td>Daily Protein Target</td><td>{{user.protein}} grams</td></tr>
            <tr><td>Daily Fat Target</td><td>{{user.fat}} grams</td></tr>
            <tr><td>Daily Carbohydrates Target</td><td>{{user.carb}} grams</td></tr>
          </table>
        </div>
      </div>
    </div>


{% endblock %}
